<!DOCTYPE html>
<html lang="en">

<head>
    <title>Traffic Offenders Verification</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            /* background-image: url("https://media.giphy.com/media/Q8fSrPQi3urUKpHw3d/giphy.gif"); */
            background-image: url("https://media.giphy.com/media/xT8qB8gHSnZ7U8Cr8k/source.gif");
            background-color: #cccccc;
        }

        .description {
            background-color: #cccccc;
        }
    </style>
</head>

<script>
    function showDiv() {
        document.getElementById('history').style.display = "block";
    }
</script>

<body align=center>
    <div class="description col-md-offset-3 col-md-6">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <legend>
                    <h1>Traffic Offenders Verification</h1>
                </legend>
            </div>
            <div class="col-md-4"></div>
        </div>

        <br>
        <div class="row"></div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">

                This project brings together a behavioral and physical biometric. It helps a traffic police personnel to
                verify the identity of the offender they have halted.

            </div>

            <div class="form-group">
                <div>
                    <div></div>
                    <br />
                    <br />
                    <br />
                    <div class=" text-center">
                        <br>
                        <label>Verify the offender?</label>
                        <a href="verify"><input type="submit" class="btn btn-primary" value="Verify"></a>
                    </div>
                    <br />
                    <div class=" text-center">
                        <label>New here? Try enrolling</label>
                        <a href="enroll"><input type="submit" class="btn btn-success" value="Enroll"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>